@import "tailwindcss";

:root {
  --background: #fdf8f4;
  --foreground: #022c22;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cream: #fdf8f4;
  --color-beige: #fef3e6;
  --color-dark: #022c22;
  --color-green: #0f5132;
  --color-dark-green: #00373e;
  --color-orange: #f59e0b;
  --color-pink: #fbcfe8;
  --color-teal: #14b8a6;
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif), serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
